@each $item,$color in $theme_colors {
  .theme-#{$item} {
    border-color: $color;
    color: $color;
    font-weight: 700;
    text-transform: capitalize;
    &.player-track {
      background: $color;
    }
    &.theme-container,
    &.player-button {
      color: color(body);
      background-color: $color;
      cursor: pointer;
      &:hover {
        background-color: lighten($color, 5);
      }
    }
    & a {
      color: $color;
      &:hover {
        color: lighten($color, 5);
      }
    }
    svg {
      fill: color(body);
    }
  }
}

$permutation_map: (
  A: color(blue),
  B: color(green),
  C: color(red),
  D: color(orange),
  E: color(uninstalled),
  F: color(body)
);

@each $item,$color in $permutation_map {
  .background-#{$item},
  .permutation-#{$item} {
    background-color: $color;
  }
}
