h2,
h3,
h4,
h5,
h6 {
  @include -font(subheader);
  margin-bottom: space(minimal);
}

h4,
h5,
h6 {
  font-weight: 400;
}

hr {
  height: space(minimal);
  background: color(red);
  width: 50%;
}

p {
  line-height: 1.4;
}
