body {
  font-size: 95%;
}

h2,
h3,
h4,
h5,
h6 {
  @include -font(subheader);
  margin-bottom: space(minimal);
}

h4,
h5,
h6 {
  font-weight: 400;
}

hr {
  height: space(minimal);
  background: color(red);
  width: 50%;
}

p {
  line-height: 1.4;
}

@media (min-height: screen(height)) {
  body {
    font-size: 100%;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
