$wrmota_space: (
  menu-button: 3em,
);

$space_map: map-merge(
  $space_map, $wrmota_space
);

$wrmota_breakpoint: (
  exhibit-details: 600px,
  maximum: 1440px,
  height: 800px,
);

$breakpoint: map-merge(
  $breakpoint, $wrmota_breakpoint
);

// COLORS

$theme_colors: (
  blue: #347cff,
  green: #50e04a,
  red: #ff384c,
  orange: #ffbb00,

  community: #823B93,
  culture: #F89F34,
  moving: #FDD729,
  music: #89C54C,
  school: #00A09B,
  nostalgia: #DA519C,
  water: #009EE0,
  uninstalled: #CCC,

  input: #347cff,
  scroll: #347cff,
  loading-a: lighten(#ff384c, 30),
  loading-b: #fff,
);

$colors: map-merge(
  $colors, $theme_colors
);


// TYPOGRAPHY

$wrmota_fonts: (
  header: (
    family: ("Londrina Solid", sans-serif),
    weight: 400,
    style: normal
  ),
  subheader: (
    family: ("Bitter", serif),
    weight: 700,
    style: normal
  ),
  body: (
    family: ("Bitter", serif),
    weight: 400,
    style: normal
  ),
  body-emphasis: (
    family: ("Bitter", serif),
    weight: 700,
    style: normal
  ),
);

$fonts: map-merge($fonts, $wrmota_fonts);

@mixin -underline-visible(){
  transform: scale3d(1,1,1);
}

@mixin -underline($color){
  &:after {
    content: '';
    display: block;
    height: 2px;
    background: $color;
    width: 100%;
    margin: 0 auto;
    transform: scale3d(0,1,1);
    transition: transform 400ms;
  }
  &.selected:after {
    @include -underline-visible();
  }
}
