// COLORS

$theme_colors: (
  blue: #347cff,
  green: #50e04a,
  red: #ff384c,
  orange: #ffbb00,

  community: #823B93,
  culture: #F89F34,
  moving: #FDD729,
  music: #89C54C,
  school: #00A09B,
  nostalgia: #DA519C,
  water: #009EE0,
  uninstalled: #CCC,

  scroll: #347cff,
);

$colors: map-merge(
  $colors, $theme_colors
);


// TYPOGRAPHY

$wrmota_fonts: (
  header: (
    family: ("Londrina Solid", sans-serif),
    weight: 400,
    style: normal
  ),
  subheader: (
    family: ("Bitter", serif),
    weight: 700,
    style: normal
  ),
  body: (
    family: ("Bitter", serif),
    weight: 400,
    style: normal
  ),
  body-emphasis: (
    family: ("Bitter", serif),
    weight: 700,
    style: normal
  ),
);

$fonts: map-merge($fonts, $wrmota_fonts);
