.code-container {
  display: none;
  position: fixed;
  top: 0;
  left: space(light, -3);
  width: space(light, 4);
}

.permutation-block {
  @include -background-image();
  margin-bottom: space(light);
}
