.exhibit-container {
  @extend .-full-container;
  max-width: 36em;
  padding: space(light);
  padding-right: 0;
}

.content-container {
  @extend .-full-container;
  max-width: calc(100% - 36em);
  padding: space(light);
  padding-left: space(light, 1.5);
}

.component__exhibit_details {
  z-index: z(interactive);

  .exhibit-header,
  .exhibit-nav {
    width: calc(100% - #{space(medium)});
  }

  .exhibit-header {
    text-align: center;
    padding: space(medium);
    background: darken(color(nostalgia), 5);
    color: color(body);
  }

  .exhibit-details {
    .component__artist_list {
      padding-right: space(medium);
    }
  }

  h1,
  h2 {
    text-align: center;
  }

  h1 {
    margin: 0 0 space(minimal);
  }

  h2 {
    font-size: 1em;
    font-weight: normal;
  }
}

.component__artist_list {
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1em;
  }
  .artist-item {
    background: color(body);
    padding: 0 space(medium);
    cursor: pointer;
    &:hover {
      background: color(container);
    }
    &:first-child {
      padding-top: space(minimal,2);
    }
  }

  .artist-info {
    flex: 1;
  }

  .artist-link {
    height: 1em;
    width: 1em;
    & svg {
      fill: color(accent);
    }
    &:hover svg {
      fill: color(blue);
    }
  }
}

.component__about,
.component__credits {
  background: color(body);
}
