.exhibit-container {
  @extend .-full-container;
}

.content-container {
  @extend .-full-container;
  padding: space(light);
  padding-left: space(light, 1.5);
}

.exhibit-header {
  text-align: center;
  padding: space(light);
  background: darken(color(nostalgia), 5);
  color: color(body);
  h1,
  h2 {
    text-align: center;
  }

  h1 {
    margin: 0 0 space(minimal);
  }

  h2 {
    font-size: 1em;
    font-weight: normal;
  }
}

.component__artist_list {
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1em;
  }
  .artist-item {
    background: color(body);
    padding: 0 space(medium);
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      height: 2px;
      background: color(blue);
      width: 100%;
      margin: 0 auto;
      transform: scale3d(0,1,1);
      transition: transform 400ms;
    }
    &.selected:after {
      transform: scale3d(1,1,1);
    }
    &:first-child {
      padding-top: space(minimal,2);
    }
  }

  .artist-info {
    flex: 1;
  }

  .artist-link {
    height: 1em;
    width: 1em;
    & svg {
      fill: color(accent);
    }
    &:hover svg {
      fill: color(blue);
    }
  }

  .artist-content {
    background: color(container);
  }
}

.component__about,
.component__credits {
  @extend .-full-container;
  background: color(body);

  .container {
    padding: space(light);
  }

  ul {
    margin: 0;
    padding: 0 space(light);
    list-style: none;
  }
  li {
    display: block;
    position: relative;
    padding: 0 0 space(light,2) 1.5em;
    &:before {
      content: '';
      display: flex;
      position: absolute;
      top: 0.25em;
      left: 0;
      width: 0.25em;
      height: 0.25em;
      border: 0.25em solid color(orange);
      border-radius: 50%;
    }
  }

}

.component__image-caption {
  figure {
    @extend .-column;
  }
  img {
    width: 100%;
  }
  figcaption {
    @extend small;
    background: color(container);
    padding: space(light);
  }
}
