.component__nav {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  li {
    @include -font(body-emphasis);
    display: flex;
    flex: 1;
    justify-content: center;
    padding: space(light);
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
  }
}

.component__main-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z(menu);

  .main-menu-button {
    position: fixed;
    top: 0;
    left: 0;
    line-height: 0;
    padding: space(light);
    width: space(menu-button);
    height: space(menu-button);
    z-index: z(menu,10);
  }

  .main-menu-container {
    width: 100vw;
    height: 100vh;
    background: color(body);
    transition: all 300ms;
    transform-origin: top left;
    z-index: z(menu);
  }

  .main-menu {
    @extend .-full-container;
    ul {
      @extend .-full-container;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 150%;
      height: auto;
      min-height: 100%;
      padding: space(light) 0;
      text-transform: capitalize;
    }
    li {
      margin: space(light);
      overflow: hidden;
      padding-bottom: space(minimal);
      a {
        animation-name: menu-items;
        animation-duration: 300ms;
        animation-fill-mode: backwards;
        animation-timing-function: ease;
        position: relative;
        display: block;

        @include -underline(color(green));
        &:after {
          position: relative;
          top: space(minimal, 0.75);
          height: 4px;
        }
        &:hover:after {
          @include -underline-visible();
        }
      }
      &.selected a:after {
        @include -underline-visible();
      }
    }
  }
}

@keyframes menu-items {
  0% {
    opacity: 0;
    top: 150%;
    transform: scale(0.8) rotate(20deg);
  }
  100% {
    opacity: 1;
    top: 0;
    transform: scale(1) rotate(0);
  }
}

@mixin -wrmota-nav($color:nostalgia, $style:normal){
  $positive: color(body);
  $negative: $color;

  @if $style == inverted {
    $positive: $color;
    $negative: color(body);
  }

  background: $positive;
  color: $negative;
  li {
    &:hover {
      background: lighten($positive, 5);
    }
    &.active {
      background: $negative;
      color: $positive;
    }
  }
}

$wrmota_nav_map: (
  nostalgia: color(nostalgia),
  blue: color(blue),
  orange: color(orange),
);

@each $item,$color in $wrmota_nav_map {
  .nav-#{$item} {
    @include -wrmota-nav($color);
  }
  .nav-#{$item}-invert {
    @include -wrmota-nav($color, inverted);
  }
}

.menu-enter-active, .menu-leave-active {
  transform: scale3d(1,1,1);
}

.menu-enter, .menu-leave-to {
  transform: scale3d(0,0,1);
}
