.component__nav {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  li {
    @include -font(body-emphasis);
    display: flex;
    flex: 1;
    justify-content: center;
    padding: space(light);
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
  }
}

.component__main-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z(menu);

  .main-menu-button {
    position: fixed;
    top: 0;
    left: 0;
    line-height: 0;
    padding: space(light);
    width: space(menu-button);
    height: space(menu-button);
    z-index: z(menu,10);
  }

  .main-menu-container {
    width: 100vw;
    height: 100vh;
    background: color(body);
    z-index: z(menu);

    transform-origin: top left;
  }

  .main-menu {
    @extend .-full-container;
    ul {
      @extend .-full-container;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 150%;
      height: auto;
      padding: space(light) 0;
      text-transform: capitalize;
    }
    li {
      margin: space(light);
      overflow: hidden;
      padding-bottom: space(minimal);
      &.selected .main-menu-item:after {
        @include -underline-visible();
      }
    }
  }

  .main-menu-item {
    @extend a;
    transition-property: all;
    transition-duration: 300ms;
    position: relative;
    display: block;
    cursor: pointer;
    @include -underline(color(green));
    &:after {
      position: relative;
      top: space(minimal, 0.75);
      height: 4px;
    }
    &:hover:after {
      @include -underline-visible();
    }
  }

  .main-menu-footer {
    overflow: hidden;
    text-align: center;
  }
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    display: block;
    position: relative;
    background: color(blue);
    padding: space(minimal, 1.3);
    margin: space(light);
    border-radius: 50%;
    width: space(menu-button, 0.6);
    height: space(menu-button, 0.6);
    &:hover {
      background: lighten(color(blue), 5);
    }
    &:after {
      display: none;
    }
    svg {
      fill: color(body);
    }
  }
}

@mixin -wrmota-nav($color:nostalgia, $style:normal){
  $positive: color(body);
  $negative: $color;

  @if $style == inverted {
    $positive: $color;
    $negative: color(body);
  }

  background: $positive;
  color: $negative;
  li {
    &:hover {
      background: lighten($positive, 5);
    }
    &.active {
      background: $negative;
      color: $positive;
    }
  }
}

$wrmota_nav_map: (
  nostalgia: color(nostalgia),
  blue: color(blue),
  orange: color(orange),
);

@each $item,$color in $wrmota_nav_map {
  .nav-#{$item} {
    @include -wrmota-nav($color);
  }
  .nav-#{$item}-invert {
    @include -wrmota-nav($color, inverted);
  }
}

.menu-enter-active {
  &.main-menu-container {
    transition: display 800ms, transform 300ms 0ms;
  }
  .main-menu-item {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0);
  }
  .main-menu-footer p {
    transition: all 400ms 300ms;
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-leave-active {
  &.main-menu-container {
    transition: display 800ms, transform 300ms 300ms;
  }
  .main-menu-footer p {
    transition: all 400ms 0;
  }
}

.menu-enter-to,
.menu-leave {
  &.main-menu-container {
    transform: scale3d(1,1,1);
  }
}

.menu-enter,
.menu-leave-to {
  &.main-menu-container {
    transform: scale3d(0,0,1);
  }
  .main-menu-item {
    opacity: 0;
    transform: translateY(100%) scale(0.8) rotate(20deg);
  }
  .main-menu-footer p {
    opacity: 0;
    transform: translateY(100%);
  }
}
